.normal1{
  font-family: Georgia, sans-serif;
  text-align: center;
  width: 100%;
  background-color: rgb(223, 94, 55);
  padding-top: 1em;
}
 .login_form {
  max-width: 300px;
  margin: 0 auto;
}
.login_form_remember{
  float: left;
}
.login_form_forgot {
  float: right;
}
.login_form_button {
  width: 100%;
}
